.student-preferred-name p {
	font-style: italic;
	font-size : x-small;
}

.student-preferred-name .fancy-button {
	background: #990000;
	color: white !important;
	font-weight : normal;
}

.student-preferred-name .fancy-button:hover {
	font-weight : bold;
}

.student-preferred-name .fancy-cancel {
	background: lightgray;
	color: black !important;
}

 .student-preferred-name .pref-name-edit-error
 {
 	padding : 1em;
 }
 
 .student-preferred-name .dl-contact-info p {
 	font-style: italic;
 	font-size: x-small;
 	margin: .5em;
 }
 
 .student-preferred-name .edit-name {
	float : left; 
 }
 
 .student-preferred-name .edit-notice {
 	clear : left;
 }
 
 .student-preferred-name .edit-buttons {
 	clear: left;
	min-width: 12em;
	padding-top: .75em;
	padding-bottom: .75em;
	max-width: 24.5em;
	width: 100%;
	text-align: right;
 }
 
 .student-preferred-name .label {
 	font-style: italic;
	font-size : x-small;
 }
 
 .student-preferred-name .error {
 	color: #f00;
 }
 
 .student-preferred-name-admin .error {
 	color: #f00;
 }