.student-preferred-name p {
	font-style: italic;
	font-size : x-small;
}

.student-preferred-name .label {
	font-style: italic;
	font-size : x-small;
	text-align: left;
}

.student-preferred-name .fancy-button {
	background: #990000;
	color: white !important;
	font-weight : normal;
}

.student-preferred-name .fancy-button:hover {
	font-weight : bold;
}

.student-preferred-name .fancy-cancel {
	background: lightgray;
	color: black !important;
}