.student-preferred-name {
  padding: 5px;
 
}

.student-preferred-name p {
	font-style: italic;
	font-size : x-small;
}

.student-preferred-name .fancy-button {
	background: #990000;
	color: white !important;
	font-weight : normal;
}

.student-preferred-name .fancy-button:hover {
	font-weight : bold;
}

.student-preferred-name .fancy-cancel {
	background: lightgray;
	color: black !important;
}

 .student-preferred-name .pref-name-edit-error
 {
 	padding : 1em;
 }
 
 .student-preferred-name .dl-contact-info p {
 	font-style: italic;
 	font-size: x-small;
 	margin: .5em;
 }
 
 .student-preferred-name .edit-name {
	float : left; 
	padding-right: 1em;
 }
 
 .student-preferred-name .edit-notice {
 	clear : left;
 }
 
 .student-preferred-name .pvi-lookup .edit-buttons {
	text-align: inherit; 
 }
 
 .student-preferred-name .modify-preferred-name .edit-buttons {
	text-align: inherit; 
	max-width : inherit;
 }
 
 .student-preferred-name .label {
 	font-style: italic;
	font-size : x-small;
 }
 
 .student-preferred-name .error {
 	color: #f00;
 }
 
 .student-preferred-name .info {
 	color: green;
 	font-style: italic;
 	font-size: smaller;
 }
 
 .student-preferred-name .pvi-search {
 	padding-bottom: .5em;
 }
 
 .student-preferred-name .pvi-search span {
  	margin-right: 2em;
 }
 
 .student-preferred-name .netid-search span {
  	margin-right: .4em;
 }
 
 .student-preferred-name .source {
 	padding-bottom : .5em;
 }
 
 .student-preferred-name .pref-name-edit {
     margin-left: 1em;
     background-color: #F3F3F3;
     width: 66%;
     border-radius: 4px;
     padding: 5px;
 }
 
 .student-preferred-name .pref-name-edit .names {
   display: inline-block;
 }
 
 .student-preferred-name .label {
    color: black;
 }
 
 .student-preferred-name .info-text {
   font-size: 12px;
   padding-left: 5px;
 }
